input  {
    border: none;
    margin: 1vh 0 20px;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 8px;
    color: black;
    box-shadow: -4px -4px 10px rgba(255,255,255,1),
    inset 4px 4px 10px rgba(0,0,0,0.05),
    inset -4px -4px 10px rgba(255,255,255,1),
    4px 4px 10px rgba(0,0,0,0.05);
  }
  .boxPass input::placeholder {
    text-align: center;
  }
  input {
    text-align: center;
    
  }
  h1 {
      text-align: center;
  }
  button {
    font-size: 15px;
    width:100px;
    height:20px;
      color: black;
      background-color: white;
      border-radius: 8px;
      border: 2px solid palevioletred;
  }
.container{
    text-align: center;
} 
